.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 24px;
    background-color: #f5f0e8;
    width: 100vw;
    /* ← طول الشاشة كلها */
    box-sizing: border-box;
}


.navbar-left {
    display: flex;
    align-items: center;
    gap: 6px;
}

.logo {
    font-size: 20px;
}

.brand {
    font-size: 15px;
    font-weight: 800;
    color: #2d5016;
    line-height: 1.2;
}

.navbar-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.signin-btn {
    background-color: #2d5016;
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 18px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    
}
.signin-btn:hover {
    opacity: 0.88;
}